@use './variables.scss' as *;
@use './mixins.scss' as* ;
@use './typography.scss' as *;
@use './colors.scss'as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $Background;
}

 body {
  font-family: 'Nunito';
}

h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: $Headline;


    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $Headline;


    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
    }
}

//labels,links, buttons
h3 {
  font-size: 0.813rem;
  line-height: 1.3rem;

  @include tablet {
    font-size: 0.9rem;
    line-height: 1.375rem;
  }
}

//table headers
h4 {
  font-size: 0.688rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

//how to use different paragraph sizes in html reference:
//<p class="small">This is a small paragraph.</p>
//<p class="medium">This is a medium paragraph.</p>
//<p class="large">This is a large paragraph.</p>

p {
  .small {
    font-size: 0.688rem;
    line-height: 1rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  .medium {
    font-size: 0.813rem;
    line-height: 1.3rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  .large {
    font-size: 0.9rem;
    line-height: 1.625rem;

    @include tablet {
      font-size: 1rem;
      line-height: 1.8rem;
    }

  }
}
@keyframes sectionAnimation {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}