@use '../../styles/global.scss' as *;
@use '../../styles/colors.scss' as *;
@use '../../styles/mixins.scss' as *;


.header{

    &__title{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 10vw;
        height: 10vh;
    }
   &--mobile{
    animation: sectionAnimation 1s ease-in-out forwards;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include desktop{
        display: none;
    }
    .icon{
        color: $Headline;
    }
   }
   &--desktop{
    display: none;
    @include desktop{
        animation: sectionAnimation 1s ease-in-out forwards;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header{
            &__list{
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }
            &__item{
                color: $Headline;
                list-style-type: none;
                &:hover{
                    color: $Button;
                    cursor: pointer;
                }
            }
        }
    }
   }
}
.nav-link{
    text-decoration: none;
}